extends layout

block content
  h2 Organisations
  ul#organizations-list.list-group
    if organizations && organizations.length > 0
      each organization in organizations
        li.list-group-item= organization.name
    else
      li.list-group-item Not fetching the list



    block content
  style.
    body {
      background-color: #f0f0f0;
      color: green;
      font-size: 40px;
      align: center; 
    }




